* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
}

#banner1 {
    display: none;
}

#banner2 {
    display: none;
}

header {
    position: sticky;
    top: 0;
}

h1 {
    -webkit-text-stroke: 0.1px rgb(228, 98, 23);
    color: yellow;
    font-size: 12vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-shadow: -5px 1px rgb(153, 192, 192);
}

#logo {
    height: 35vh;
}

.container-title {
    height: 27vh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background-image: url(/assets/img/banner-1.jpg);
    background-position-y: 80%;
    justify-content: space-evenly;
}

nav {
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/assets/img/banner-1.jpg);
    background-position-y: 87%;
}

nav>a {
    background-color: yellow;
    text-decoration: none;
    color: rgb(53, 50, 50);
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.35rem;
    text-transform: uppercase;
    padding: 2px 7px;
    margin: 0px 10px;
    border-style: solid;
    border-color: rgb(228, 98, 23);
    border-width: 0.2rem;
    box-shadow: 0.5vh 0.5vh rgba(153, 192, 192);
    height: 5vh;
}

.mdhl {
    display: none
}

[href="#"] {
    height: 6vh;
    background-color: yellow;
    border-color: rgb(228, 98, 23);
    color: rgb(16, 114, 105);
    font-size: 26px;
    padding: 3px 7px;
    margin: 0px 10px;
}

.main-title {
    position: sticky;
    top: 34vh;
}

.main-title h2 {
    background-color: black;
    border: solid rgb(217, 231, 231);
    border-width: 5px 0;
    color: rgb(217, 231, 231);
    text-align: center;
    font-size: 4vh;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.events {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 3.2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

main img {
    border-style: double;
    border-width: 8px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(7, 101, 80);
    height: 40vh;
    align-self: center;
}

.about img {
    margin: 2.5vh;
}

.article-home {
    width: 60vw;
}

.events article {
    height: 10vh;
    margin: 2.5vh;
    width: 42vw;
    align-items: center;
}


.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 3.2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3vh;
}

.about article {
    margin: 3.5vh;
    width: 56vw;
    align-items: flex-start;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 3vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
}

.article-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50vw;
    text-align:right;
}

.article-contact>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30vw;
    height: 7vh;
    margin-left: 2vw;
}

article>p {
    text-indent: 2rem;
}

#bigger-picture{
    border-style: double;
    border-width: 8px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(7, 101, 80);
    height: 40vh;
    align-self: center;
}

#sub-title {
    background-color: black;
    border: solid rgb(217, 231, 231);
    border-width: 0px 0px 5px;
    color: rgb(217, 231, 231);
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

#rules-title {
    display: none;
}

.rules {
    margin: 6vh 13vw;
    font-size: 3vh;
    text-align: justify;
}

ol,
ul {
    list-style-position: inside;
}

#item-list {
    text-indent: 0;
    margin-left: 3vw;
}

.list-rules>li {
    padding: 1rem;
}

#abc {
    list-style-type: lower-latin;
}

ul {
    list-style-type: circle;
    text-indent: 3vw;
}

.rules-article {
    padding: 2vh;
}

.rules-article>article {
    margin: 2vh;
    padding: 2vh;
}

.rules-article h3 {
    padding-bottom: 1rem;
}

.game_info {
    display: flex;
    justify-content: center;
    justify-content: center;
    padding: 2rem;
    min-height: 60vh;
    font-size: 3vh;
}

caption {
    font-style: oblique;
    text-align: left;
    margin-bottom: 3vh;
    text-decoration: underline;
}

#table-game_info {
    text-align: left;
    align-items: center;
}

#table-game_info,
th,
tr,
td {
    border-right: 1rem solid transparent;
    border-collapse: collapse;
}

.teams {
    padding-bottom: 0.5rem;
}

.date {
    text-align: right;
}

.container-game_info {
    margin: 3vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    font-size: 3vh;
    height: 35vh;
}

.container-game_info>p,
#contact-columns {
    display: flex;
    height: 3vh;
    margin: 1rem 0;
}

.contact-game_info {
    flex-grow: 2;
    align-items: flex-end;
}

#contact-columns {
    align-items: flex-end;
}

#contact-columns {
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
}