* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}

img {
    max-width: 100%;
}

#banner1 {
    display: none;
}

#banner2 {
    width: 100%;
    height: 18rem;
    object-fit: cover;
    object-position: 0% 32%;
    position: relative;
}

h1 {
    position: relative;
    font-size: 68px;
    font-style: oblique;
    font-weight: lighter;
    word-spacing: 18px;
}

#logo {
    position: absolute;
    left: -3rem;
    /*Had to use a negative value to move the logo closer to the left margin due the proportions of the image.*/
    width: 20%;
    height: 20%;
    object-fit: cover;
    object-position: 0% 20%;
    margin-top: 3rem;
}

main img {
    display: none;
}

h2 {
    position: absolute;
    top: 20.2rem;
    width: 100%;
    z-index: 1;
    border-style: solid;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 40px;
}

nav {
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 65px;
    right: 10px;
}

nav a {
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    margin: 0px 15px;
    border-style: solid;
    border-color: rgb(23, 23, 23);
    box-shadow: 5px 5px grey;
}

.mdhl {
    display: none
}

[href="#"] {
    background-color: green;
}

article {
    position: relative;
    font-size: 18px;
    margin-bottom: 1rem;
}

article>h3 {
    font-weight: bolder;
    font-size: 22px;
}

article>p {
    text-indent: 1rem;
    ;
}

.about {
    margin-top: 3rem;
}

.about>article {
    font-size: 16px;
    margin-left: 15rem;
    margin-right: 3rem;
    /*Reduced the right margin to avoid vertical scrolling that´s why the line breaks don´t respect the sketch*/
}

.events>article {
    margin: 3rem 17rem 1rem;
}

.contact {
    font-size: 22px;
    position: relative;
    margin: 3rem 17rem;
}

div>p {
    padding-top: 1rem;
}