* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}

img {
    max-width: 100%;
}

#banner1 {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: 0% 80%
        /*It is an aesthetic decision to show only the skates and the hockey puck.*/
}

#banner2 {
    display: none;
}

#logo {
    width: 20rem;
    height: 11rem;
    object-fit: cover;
    object-position: 0% 17%;
    z-index: 1;
    position: absolute;
    top: 12rem;
    right: 4rem;
}

main img {
    display: none;
}

h1 {
    font-weight: normal;
    position: absolute;
    top: 0px;
    left: 1rem;
    font-size: 70px;
}

h2 {
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
}

nav {
    position: absolute;
    top: 22rem;
}

nav a {
    font-size: 18px;
    display: block;
    color: blue;
    margin-left: 1rem;
    padding-bottom: 3.5rem;
}

[href="#"] {
    text-decoration: none;
    color: black
}

article {
    position: relative;
    font-size: 18px;
    margin-bottom: 1rem;
}

article>h3 {
    font-weight: bolder;
    font-size: 25px;
}

article>p {
    text-indent: 35px;
}

.about {
    margin-top: 3rem;
}

.about>article {
    font-size: 18px;
    margin-left: 12rem;
    margin-right: 6rem;
}

.events>article {
    margin: 3rem 17rem;
}

.contact {
    font-size: 22px;
    position: relative;
    margin: 3rem 12rem;
}

div>p {
    padding-top: 1rem;
}